

body{

    background-color: rgb(134, 18, 18);
}

#fotoPerfil{

    height: 200px;
    width: 175px;
    margin: 20px;
}


h1{
    color: hsl(0, 0%, 100%);
    text-shadow: 2px 5px 5px black;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: hsl(0, 0%, 100%);
    text-shadow: 2px 5px 5px black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


/* HEADER */


header{
    display: flex;
    justify-content: flex-start; /* Alinea los elementos hacia la izquierda */
    align-items: center; /* Centra los elementos verticalmente */
    text-align: center; /* Centra el texto horizontalmente dentro del div */
    

}

/* HEADER Smartphones */



@media (max-width: 767px){

    header{
        display:inline-block;
    }
    
    h1{
        font-size: 20px;
    }
  
    #fotoPerfil{
        margin: 0px;
    }
  }


/* NAV */


/* barra de navegacion*/
.navbar {
    list-style-type: none; /*Elimina los puntos de la lista no ordenada*/
    background-color: hsl(0, 100%, 50%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    height: 100px;
  
  }
  
  /* Crea espacio entre los elementos de la lista*/
  .navbar li{
    margin: 60px;
    margin-top: 0px;
    float: left;
  }

  
  /* Color al seleccionar una opcion de la navegacion*/
  .navbar a:hover{
    background-color: hsl(0, 1%, 23%);
  }
  
  ul li {
    display: block;
    margin-bottom: 10px; /* Espacio entre los elementos */
  }
  
  
    /* Texto de la barra de navegacion*/
    .navbar a{
        color: hsl(0, 0%, 100%);
        display: block;
        text-align: center;
        font-size: 70px;
        font-family: Arial, Helvetica, sans-serif
    }
  
  
  ul li {
    display: block;
    margin-bottom: 0px; /* Espacio entre los elementos */
  }


  /* NAV Smartphones */
  
  @media (max-width: 767px){

    .navbar a{
        font-size: 13px;
    }
  
    .navbar li{
        margin: 7px;
    }
  
    .navbar {
        height: 50px;
    
    }
  
  }

  /* NAV Tabletas pequeñas */
  @media (min-width: 768px) and (max-width: 1023px){

    .navbar a{
      font-size: 30px;
  }

  .navbar li{
      margin: 15px;
  }

  .navbar {
      height: 80px;
  
  }
    
  }

  /* NAV Laptops y tabletas grandes */

  @media(min-width: 1024px) and (max-width: 1439px){
  

    .navbar a{
        font-size: 40px;
    }
  
    .navbar li{
        margin: 15px;
    }
  
    .navbar {
        height: 100px;
    
    }
  }

  /* Color al seleccionar una opcion de la navegacion*/
.navbar a:hover{
  transform: scale(1.5); /* Escala el elemento al 110% del tamaño original */
}

/* Color al seleccionar una opcion de la navegacion*/
.navbar li:hover{
  background-color: hsl(352, 64%, 36%);
}


.navbar li{
  float: left;
  transition: transform 0.3s ease; /* Transición suave al hacer hover */
}


  /* FOOTER */

  footer{
  
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    margin-bottom: 0px;
    padding: 20px;
    flex-shrink: 0; /* Evita que el footer se encoja cuando hay poco contenido */
  }
  
  
  main{
  
    flex: 1;
  }





  /* INICIO */


  h3, h4, h5{
    color: hsl(0, 0%, 100%);
    text-shadow: 2px 5px 5px black;
    font-family: Arial, Helvetica, sans-serif;
  }

  h3{
    font-size: 30px;
  }

  #h3Contacto{
    font-size: 15px;
  }

  h4{
    font-size: 20px;
  }

  #imgInicio{
    height: 400px;
    width: 500px;
  }

  /*img Inicio celulares*/
  @media (max-width: 767px){

    #imgInicio{
      height: 200px;
      width: 250px;
    }
    
  
  }



  /*SOBRE MI*/

  h5{
    font-size: 15px;
  }

  #imgAU{
    height: 227px;
    width: 350px;
  }

  #imgJava{
    height: 100px;
    width: 110px;
  }

  #imgCS{
    height: 100px;
    width: 135px;

  }

  /*img Inicio celulares*/
  @media (max-width: 767px){

    #imgJava{
      height: 50px;
      width: 55px;
    }
  
    #imgCS{
      height: 50px;
      width: 68px;
  
    }
  
  }


  
  /*PROJECTOS*/


  #imgProjectos{
    height: 200px;
    width: 210px;
  }

#web, #gitHub{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: black;
    
  }

#web{
  background-color: rgb(2, 8, 92);
}

#gitHub{
  background-color: rgb(0, 0, 0);
}